<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="pt-5 h-100 ">
<h1 class="pt-5 h-100" > Access denied. Admins only!</h1>
    </div>
    

