<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
</head>
    <body>
        <!--start navbar-->
<%- include('../includes/navigation.ejs') %>
        <!--end navbar-->
      
        <!--start carousal-->
  <section class="the-carousel">
  <div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-image:url('img/salvador.jpg')">
      <div class="container">
        <h1>About</h1>
      </div>
    </div>
  </div>
</div>
</section>
          <!--end carousal-->

          <!--About Details Start -->
            <div class="about-details">
              <div class="container">
                  <div class="row">
                    
                      <div class="offset-xl-1 col-lg-8">
                          <div class="about-details-cap wow animate__fadeInLeft" data-wow-duration="2s">
                              <h4>Our Mission</h4>
                              <p>Consectetur adipiscing elit, sued do eiusmod tempor ididunt udfgt labore et dolore magna aliqua. Quis ipsum suspendisces gravida. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus.
                              </p>
                              <p> Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan.</p>
                          </div>

                          <div class="about-details-cap wow animate__fadeInRight" data-wow-duration="2s">
                              <h4>Our Vision</h4>
                              <p>Consectetur adipiscing elit, sued do eiusmod tempor ididunt udfgt labore et dolore magna aliqua. Quis ipsum suspendisces gravida. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus.
                              </p>
                              <p> Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>


          <!-- About Details End -->

          <!--? Shop Method Start-->
          <div class="shop-method">
            <div class="container">
                <div class="method-wrapper wow animate__fadeInUp" data-wow-duration="2s">
                    <div class="row d-flex justify-content-between ">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40 wow animate__fadeInLeft" data-wow-duration="2s">
                              <a href="#">
                                <i class="fas fa-truck 3X"></i>
                              </a>
                                <h5>Free Shipping Method</h5>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40 wow animate__fadeInUp" data-wow-duration="2s">
                                <a href="#">
                                  <i class="fas fa-unlock"></i>
                                </a>
                                <h5>Secure Payment System</h5>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div> 
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40 wow animate__fadeInRight" data-wow-duration="2s">
                                <a href="#">
                                  <i class="fas fa-sync"></i> 
                                </a>
                                <h5>Secure Payment System</h5>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>




    </body>

<%- include('../includes/end.ejs') %>