<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="css/pages.css">
</head>
    <body>
<%- include('../includes/navigation.ejs') %>

        <!-- start main blog -->
        <div class="plog-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="main-blog ">
                            <div class="card bg-dark wow animate__fadeInUp" data-wow-duration="1.5s">
                                <div class="image">
                                    <img src="img/blog/single_blog_1.png" class="card-img-top" alt="blog-image">
                                    <div class="item-date">
                                        <a href="#"></a>
                                            <h5>10</h5>
                                            <p>Dec</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Google inks pact for new 35-storey office</h5>
                                  <p class="card-text">That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</p>
                                  <ul>
                                      <li class="first-li"><a href="#" > Travel, Lifestyle</a></li>
                                      <li><a href="#" > 03 Comments </a></li>
                                  </ul>
                                </div>
                              </div>

                              <div class="card bg-dark wow animate__fadeInUp" data-wow-duration="1.5s">
                                <div class="image">
                                    <img src="img/blog/single_blog_2.png" class="card-img-top" alt="blog-image">
                                    <div class="item-date">
                                        <a href="#"></a>
                                            <h5>10</h5>
                                            <p>Dec</p>
                                        </a>
                                    </div>
                                    
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Google inks pact for new 35-storey office</h5>
                                  <p class="card-text">That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</p>
                                  <ul>
                                      <li class="first-li"><a href="#" > Travel, Lifestyle</a></li>
                                      <li><a href="#" > 03 Comments </a></li>
                                  </ul>
                                </div>
                              </div>

                              <div class="card bg-dark wow animate__fadeInUp" data-wow-duration="1.5s">
                                <div class="image">
                                    <img src="img/blog/single_blog_3.png" class="card-img-top" alt="blog-image">
                                    <div class="item-date">
                                        <a href="#"></a>
                                            <h5>10</h5>
                                            <p>Dec</p>
                                        </a>
                                    </div>
                                    
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Google inks pact for new 35-storey office</h5>
                                  <p class="card-text">That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</p>
                                  <ul>
                                      <li class="first-li"><a href="#" > Travel, Lifestyle</a></li>
                                      <li><a href="#" > 03 Comments </a></li>
                                  </ul>
                                </div>
                              </div>

                              <div class="card bg-dark wow animate__fadeInUp" data-wow-duration="1.5s">
                                <div class="image">
                                    <img src="img/blog/single_blog_4.png" class="card-img-top" alt="blog-image">
                                    <div class="item-date">
                                        <a href="#"></a>
                                            <h5>10</h5>
                                            <p>Dec</p>
                                        </a>
                                    </div>
                                    
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Google inks pact for new 35-storey office</h5>
                                  <p class="card-text">That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</p>
                                  <ul>
                                      <li class="first-li"><a href="#" > Travel, Lifestyle</a></li>
                                      <li><a href="#" > 03 Comments </a></li>
                                  </ul>
                                </div>
                              </div>

                              <div class="card bg-dark wow animate__fadeInUp" data-wow-duration="1.5s">
                                <div class="image">
                                    <img src="img/blog/single_blog_5.png" class="card-img-top" alt="blog-image">
                                    <div class="item-date">
                                        <a href="#"></a>
                                            <h5>10</h5>
                                            <p>Dec</p>
                                        </a>
                                    </div>
                                    
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Google inks pact for new 35-storey office</h5>
                                  <p class="card-text">That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</p>
                                  <ul>
                                      <li class="first-li"><a href="#" > Travel, Lifestyle</a></li>
                                      <li><a href="#" > 03 Comments </a></li>
                                  </ul>
                                </div>
                              </div>

                              <div class="page-num">
                            <nav aria-label="Page navigation example justify-content-center">
                                <ul class="pagination justify-content-center">
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                    </a>
                                  </li>
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                        </div>
                        </div>

                        
                    </div>

                    <div class="col-lg-4">
                        <div class="side-plog">
                           <div class="search text-center wow animate__bounceInRight" data-wow-duration="2s">
                                <div class="input-group flex-nowrap">
                                    <input type="text" class="form-control" placeholder="search Keyword" aria-label="Username" aria-describedby="addon-wrapping">
                                    <span class="input-group-text" id="addon-wrapping">@</span>
                                </div>
                                <button type="button" class="btn btn-danger">SEARCH</button>
                           </div>


                           <div class="categories wow animate__bounceInRight" data-wow-duration="2s">
                                <h4 class="categories_title">Category</h4>
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <a href="#">Resaurant food</a>
                                        
                                    <span class="badge bg-danger rounded-pill">37</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <a href="#">Travel news</a>
                                        
                                    <span class="badge bg-danger rounded-pill">10</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <a href="#">Modern technology</a>
                                        
                                    <span class="badge bg-danger rounded-pill">1</span>
                                    </li>
                                    
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <a href="#">Product</a>
                                            
                                        <span class="badge bg-danger rounded-pill">1</span>
                                    </li>
                                    
                                    
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <a href="#">Inspiration</a>
                                        
                                    <span class="badge bg-danger rounded-pill">1</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <a href="#"> Health Care</a>
                                        
                                    <span class="badge bg-danger rounded-pill">1</span>
                                    </li>
                                </ul>

                            </div>

                            <div class="Recent-Posts">
                                <h4 >Recent Posts</h4>
                                <div class="posts">
                                    <div class="single-post wow animate__bounceInRight" data-wow-duration="2s">
                                        <img src="img/post/post_1.png" alt="">
                                        <div class="post-text">
                                            <a href="#">
                                            <h5>From life was you fish...</h5>
                                            </a> 
                                            <p>January 12, 2019</p>
                                        </div>
                                    </div>
                                
                                    <div class="single-post wow animate__bounceInRight" data-wow-duration="2s">
                                        <img src="img/post/post_2.png" alt="">
                                        <div class="post-text">
                                            <a href="#">
                                                <h5>The Amazing Hubbl</h5>
                                            </a> 
                                            <p>02 Hours ago</p>
                                        </div>
                                    </div>
                                    
                                    <div class="single-post wow animate__bounceInRight" data-wow-duration="2s">
                                        <img src="img/post/post_3.png" alt="">
                                        <div class="post-text">
                                            <a href="#">
                                                <h5>Astronomy Or Astrology</h5>
                                            </a> 
                                            <p>03 Hours ago</p>
                                        </div>
                                    </div>
                                    <div class="single-post wow animate__bounceInRight" data-wow-duration="2s">
                                        <img src="img/post/post_4.png" alt="">
                                        <div class="post-text">
                                            <a href="#">
                                                <h5>Asteroids telescope.</h5>
                                            </a> 
                                            <p>01 Hours ago</p>
                                        </div>
                                    </div>
                            

                                </div>
                             
                            </div> 
                            
                            <div class="Instagram-Feeds">
                                <h4 >Instagram Feeds</h4>
                                <div class="posts">
                                    <div class="single-post wow animate__bounceInRight" data-wow-duration="2s">
                                        <img src="img/post/post_5.png" alt="">
                                       
                                    </div>
                                
                                    <div class="single-post wow animate__bounceInRight" data-wow-duration="2s">
                                        <img src="img/post/post_6.png" alt="">
                                       
                                    </div>
                                    
                                    <div class="single-post wow animate__bounceInRight" data-wow-duration="2s">
                                        <img src="img/post/post_7.png" alt="">
                                        
                                    </div>
                                    <div class="single-post wow animate__bounceInRight" data-wow-duration="2s">
                                        <img src="img/post/post_8.png" alt="">
                                       
                                    </div>
                                    <div class="single-post wow animate__bounceInRight" data-wow-duration="2s">
                                        <img src="img/post/post_9.png" alt="">
                                       
                                    </div>
                                    <div class="single-post wow animate__bounceInRight" data-wow-duration="2s">
                                        <img src="img/post/post_10.png" alt="">
                                       
                                    </div>

                                </div>
                             
                            </div> 

                            <div class="Tag-Clouds">
                                <h4 >Tag Clouds</h4>
                                <ul class="list wow animate__bounceInRight" data-wow-duration="2s">
                                    <li>
                                        <a href="#">project</a>
                                    </li>
                                    <li>
                                        <a href="#">love</a>
                                    </li>
                                    <li>
                                        <a href="#">technology</a>
                                    </li>
                                    <li>
                                        <a href="#">travel</a>
                                    </li>
                                    <li>
                                        <a href="#">restaurant</a>
                                    </li>
                                    <li>
                                        <a href="#">life style</a>
                                    </li>
                                    <li>
                                        <a href="#">design</a>
                                    </li>
                                    <li>
                                        <a href="#">illustration</a>
                                    </li>
                                </ul>
                             
                            </div>

                           
                                
                                <div class="search text-center wow animate__bounceInRight" data-wow-duration="2s">
                                    <h4 >Newsletter</h4>
                                    <div class="input-group flex-nowrap">
                                        <input type="text" class="form-control" placeholder=" Enter email" aria-label="Username" aria-describedby="addon-wrapping">
                                        
                                    </div>
                                    <button type="button" class="btn btn-danger">Subscribe</button>
                               </div>

                             
                            

                        </div>
                     </div>
                </div>
            </div>
        </div>

        <!-- start main blog -->




    </body>


<%- include('../includes/end.ejs') %>